/* carousel */

#carouselWild {
    position: absolute; 
    top: 120px;
    width: 90%;
    z-index: 0; 
    padding-right: 30px;
}

.carousel-inner img {
    width: 90%;
    height: 40vw;
}
